$hamburger-padding-x                       : 6%;
$hamburger-padding-y                       : 2%;
$hamburger-layer-width                     : 30px;
$hamburger-layer-height                    : 3px;
$hamburger-layer-spacing                   : 6px;
$hamburger-layer-color                     : #000;
$hamburger-layer-border-radius             : 2px;
$hamburger-hover-transition-duration       : 0.9s;
$hamburger-hover-transition-timing-function: ease-in-out;
$hamburger-types     : (squeeze, slider);

